<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="main">Happy Turtles</a>

        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="about">О нас</a></li>
                <li ng-show="isAuthenticated()" ui-sref-active="active"><a ui-sref="reception">Мир слов</a></li>
                <li ng-hide="isAuthenticated()" ui-sref-active="active"><a ui-sref="free">Попробовать</a></li>
                <li ng-hide="isAuthenticated()" ui-sref-active="active"><a ui-sref="login">Войти</a></li>
                <li ng-show="isAuthenticated()" ui-sref-active="active"><a ui-sref="logout">Покинуть</a></li>

            </ul>
        </div>
    </div>
</div>
